doctype html
html
  head
    title asdasd
  body
    block header
      header
        p some header content
    block content
      h1 hello world !
    block footer
      footer
        p some footer content