/* ==========================================================================

   Notifications

   ========================================================================== */
.notification {
  position: relative;
  overflow: hidden;


  background: color('xlightgray') url('../img/notification_background.png') top left repeat fixed;
  background-size: 50px 30px;
  border: border('solid--lightgray');

  display: block;
  margin-bottom: 20px;
  padding: 11px 10px 10px;

  font-size: 13px;
  line-height: 1.5;

  box-shadow: 0 0 7px rgba(0,0,0,0.1) inset;

  &:before {
    position: absolute;
    top: 16px;
    left: 10px;

    display: inline-block;
    width: 8px;
    height: 8px;
  }


  p {
    margin-bottom: 0;
  }



  &--positive {
    padding-left: 28px;

    &:before {
      content: "";
      background: linear-gradient(#a3ba52 0%, #8da047 100%);
    }
  }


  &--negative {
    padding-left: 28px;

    &:before {
      content: "";
      background: linear-gradient(#e70020 0%, #c7001a 100%);
    }
  }


  &--shopping {
    padding: 16px 15px 15px 90px;

    &:before {
      top: 50%;
      left: 20px;

      width: 51px;
      height: 51px;
      margin-top: -26px;

      font-size: 51px;
    }

    p {
      padding-top: 6px;
    }
  }

}